In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("C:\\Users\\gajendra singh\\OneDrive\\Desktop\\pandas\\Attrition.csv")

In [5]:
df

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1465,36,No,Travel_Frequently,884,Research & Development,23,2,Medical,1,2061,...,3,80,1,17,3,3,5,2,0,3
1466,39,No,Travel_Rarely,613,Research & Development,6,1,Medical,1,2062,...,1,80,1,9,5,3,7,7,1,7
1467,27,No,Travel_Rarely,155,Research & Development,4,3,Life Sciences,1,2064,...,2,80,1,6,0,3,6,2,0,3
1468,49,No,Travel_Frequently,1023,Sales,2,3,Medical,1,2065,...,4,80,0,17,3,2,9,6,0,8
1469,34,No,Travel_Rarely,628,Research & Development,8,3,Medical,1,2068,...,1,80,0,6,3,4,4,3,1,2

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 35 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Age                       1470 non-null   int64
 1   Attrition                 1470 non-null   object
 2   BusinessTravel            1470 non-null   object
 3   DailyRate                 1470 non-null   int64
 4   Department                1470 non-null   object
 5   DistanceFromHome          1470 non-null   int64
 6   Education                 1470 non-null   int64
 7   EducationField            1470 non-null   object
 8   EmployeeCount             1470 non-null   int64
 9   EmployeeNumber            1470 non-null   int64
 10  EnvironmentSatisfaction   1470 non-null   int64
 11  Gender                    1470 non-null   object
 12  HourlyRate                1470 non-null   int64
 13  JobInvolvement            1470 non-null   int64
 14  JobLevel                  1470 non-null   int64
 15  JobRole                   1470 non-null   object
 16  JobSatisfaction           1470 non-null   int64
 17  MaritalStatus             1470 non-null   object
 18  MonthlyIncome             1470 non-null   int64
 19  MonthlyRate               1470 non-null   int64
 20  NumCompaniesWorked        1470 non-null   int64
 21  Over18                    1470 non-null   object
 22  OverTime                  1470 non-null   object
 23  PercentSalaryHike         1470 non-null   int64
 24  PerformanceRating         1470 non-null   int64
 25  RelationshipSatisfaction  1470 non-null   int64
 26  StandardHours             1470 non-null   int64
 27  StockOptionLevel          1470 non-null   int64
 28  TotalWorkingYears         1470 non-null   int64
 29  TrainingTimesLastYear     1470 non-null   int64
 30  WorkLifeBalance           1470 non-null   int64
 31  YearsAtCompany            1470 non-null   int64
 32  YearsInCurrentRole        1470 non-null   int64
 33  YearsSinceLastPromotion   1470 non-null   int64
 34  YearsWithCurrManager      1470 non-null   int64
dtypes: int64(26), object(9)
memory usage: 402.1+ KB

In [8]:
from sklearn.preprocessing import LabelEncoder

In [10]:
lb = LabelEncoder()

In [19]:
for column in df.select_dtypes(include=['object']).columns:
    df[column] = lb.fit_transform(df[column])

In [20]:
df.head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,1,2,1102,2,1,2,1,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,0,1,279,1,8,1,1,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,1,2,1373,1,2,2,4,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,0,1,1392,1,3,4,1,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,0,2,591,1,2,1,3,1,7,...,4,80,1,6,3,3,2,2,2,2

In [26]:
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

In [27]:
sc = StandardScaler()

In [28]:
x = df.drop(columns = ['Attrition'], axis=1)
y = df['Attrition']

In [29]:
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.2, random_state = 42)

In [30]:
x_train_scaled = sc.fit_transform(x_train)
x_test_scaled = sc.fit(x_test)

In [31]:
x_train_scaled

array([[-1.38855944,  0.58928051, -1.10813858, ..., -0.88820751,
        -0.67610953, -1.14244794],
       [-2.04073779, -2.46355596, -1.2634814 , ..., -1.1650514 ,
        -0.67610953, -1.14244794],
       [-0.84507748,  0.58928051,  1.10364737, ..., -0.61136361,
        -0.67610953, -0.57508359],
       ...,
       [-1.60595222, -0.93713773,  1.1258392 , ..., -1.1650514 ,
        -0.67610953, -1.14244794],
       [-0.84507748,  0.58928051,  1.42666182, ..., -0.33451971,
        -0.67610953, -0.29140142],
       [ 1.43754676,  0.58928051, -1.32019386, ..., -1.1650514 ,
        -0.67610953, -1.14244794]])

In [32]:
x_train_new = pd.DataFrame(x_train_scaled, columns = x_train.columns)

In [33]:
x_train_new

,Age,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,-1.388559,0.589281,-1.108139,-0.500174,1.440396,-0.863356,2.085607,0.0,0.860666,0.279706,...,-0.639822,0.0,2.547471,-1.167368,0.157319,0.357435,-0.974263,-0.888208,-0.676110,-1.142448
1,-2.040738,-2.463556,-1.263481,-0.500174,-0.522699,-0.863356,-0.930284,0.0,-0.026811,-0.639104,...,1.211176,0.0,-0.945525,-1.423397,-0.613546,0.357435,-1.138573,-1.165051,-0.676110,-1.142448
2,-0.845077,0.589281,1.103647,1.391159,1.317703,-0.863356,-0.176312,0.0,-1.118456,1.198515,...,1.211176,0.0,0.218807,-0.143254,-0.613546,0.357435,-0.645643,-0.611364,-0.676110,-0.575084
3,0.241886,0.589281,-0.758001,-0.500174,0.336155,0.099933,0.577661,0.0,1.030258,1.198515,...,0.285677,0.0,-0.945525,-0.527297,0.157319,0.357435,-0.317023,-0.057676,-0.355244,-1.142448
4,-0.627685,0.589281,-1.204303,-0.500174,1.317703,0.099933,-0.930284,0.0,1.404019,-0.639104,...,-1.565321,0.0,0.218807,-0.143254,-0.613546,0.357435,0.504527,1.049700,-0.676110,-0.575084
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1171,-0.192899,0.589281,-0.121835,-0.500174,2.299251,0.099933,-0.930284,0.0,0.934760,-0.639104,...,1.211176,0.0,1.383139,-0.143254,0.157319,-1.082099,0.504527,1.326544,1.249084,1.127009
1172,0.459279,0.589281,-0.868960,-0.500174,-0.522699,0.099933,-0.930284,0.0,1.293702,-0.639104,...,-1.565321,0.0,-0.945525,-0.015240,0.157319,-2.521633,-0.645643,-0.611364,-0.355244,-0.575084
1173,-1.605952,-0.937138,1.125839,-0.500174,-0.768086,1.063222,-0.930284,0.0,0.287676,0.279706,...,-0.639822,0.0,0.218807,-1.295383,1.699050,0.357435,-1.138573,-1.165051,-0.676110,-1.142448
1174,-0.845077,0.589281,1.426662,-0.500174,0.458849,-0.863356,1.331634,0.0,1.687221,1.198515,...,-1.565321,0.0,0.218807,-0.143254,-0.613546,0.357435,-0.481333,-0.334520,-0.676110,-0.291401
1175,1.437547,0.589281,-1.320194,1.391159,-0.031925,0.099933,-0.176312,0.0,0.926527,0.279706,...,0.285677,0.0,0.218807,2.032989,-0.613546,0.357435,-0.974263,-1.165051,-0.676110,-1.142448

In [34]:
np.round(x_train_new.describe(), 1)

,Age,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
count,1176.0,1176.0,1176.0,1176.0,1176.0,1176.0,1176.0,1176.0,1176.0,1176.0,...,1176.0,1176.0,1176.0,1176.0,1176.0,1176.0,1176.0,1176.0,1176.0,1176.0
mean,-0.0,-0.0,-0.0,-0.0,0.0,-0.0,-0.0,0.0,0.0,0.0,...,-0.0,0.0,0.0,0.0,-0.0,-0.0,0.0,0.0,-0.0,-0.0
std,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,...,1.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
min,-2.0,-2.5,-1.7,-2.4,-1.0,-1.8,-1.7,0.0,-1.7,-1.6,...,-1.6,0.0,-0.9,-1.4,-2.2,-2.5,-1.1,-1.2,-0.7,-1.1
25%,-0.7,-0.9,-0.8,-0.5,-0.9,-0.9,-0.9,0.0,-0.9,-0.6,...,-0.6,0.0,-0.9,-0.7,-0.6,-1.1,-0.6,-0.6,-0.7,-0.6
50%,-0.1,0.6,-0.0,-0.5,-0.3,0.1,-0.2,0.0,-0.0,0.3,...,0.3,0.0,0.2,-0.1,0.2,0.4,-0.3,-0.3,-0.4,-0.3
75%,0.7,0.6,0.9,1.4,0.6,1.1,0.6,0.0,0.9,1.2,...,1.2,0.0,0.2,0.5,0.2,0.4,0.5,0.8,-0.0,0.8
max,2.5,0.6,1.7,1.4,2.4,2.0,2.1,0.0,1.7,1.2,...,1.2,0.0,2.5,3.7,2.5,1.8,5.4,3.8,4.1,3.7